{
    "baseUrl": "https://YOUR-CLOUDFRONT-DOMAIN",
    "registerPath": "register_player.php",
    "insertRoundPath": "insert_round.php",
    "logDataPath": "log_data.php",
    "logActionPath": "log_action.php",
    "getRoundPath": "get_round.php?round_number={round}",
    "runPythonPath": "predict",
    "unitWinRatePath": "unit_win_rate.php",
    "statsPath": "get_statistics.php",
    "predictPath": "predict"
}